Build
Binaries
DerivedDataCache
Intermediate
Saved
Content/Megascans
Content/ModularNeighborhood
Content/Man
Content/StarterContent
Content/PadlockAndKeypadPack
.vscode
/.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace